.card {
    backdrop-filter: blur(2px);
    border: 1px solid lightgray;
    border-radius: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 10px;
    margin: 25px auto;
    width: 90%;
    text-align: center;
    background: #fff;
    display: grid;
    justify-items: center;
    transition: background-color 0.25 ease;
}

#entries-list .card:hover {
    background: #f4f3ee;
    border: 1px solid gray;
}

.title {
    color: #333;
    padding-left:30px;
    font-size: 24px;
}

.content {
    color: #333;
    margin: 20px;
    font-size: 20px;
}

img {
    width: 50%;
    height: 100%;
}

.card button {
    border: 1px #ccc solid;
    background: #fff;
}