@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

:root {
  --emerald: #081c15;
  --medium-green: #1b4332;
  --light-green: #b9c6ae;
  --smokey: #333;
}

/* maintain layout on wide-screen */
.app {
  max-width: 1200px;
  margin: 0 auto;
}

/* homepage header image */
.title-header {
  /*
  Description: Photograph with green leafed plant
  Photographer: Irina Iriser
  URL: https://unsplash.com/photos/closeup-photo-of-green-leafed-plant-3WHuGf2cVyM
  */
  background-image: url('./image/leaves.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 350px;
  margin: 0;
  color: whitesmoke;
  display: grid;
  place-items: center;
}

/* all page styles */
html {
  overflow-y: scroll;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.5em 1em;
  font-size: 1.15em;
  font-weight: 500;
  background-color: #f9f9f9;
  cursor: pointer;
  transition: border-color 0.35s;
}

button:hover {
  border-color: var(--smokey);
}

h1 {
  font-size: 5em;
  line-height: 1.2;
}

body {
  margin: 0;
  color: var(--smokey);
  font-family: 'Poppins';
  background: var(--light-green);
}

a {
  text-decoration: none;
  color: inherit;
}

/* navigation bar styles - bootstrap also used */

nav {
  color: whitesmoke;
  background: var(--emerald);
}

.home-button {
  background: var(--emerald);
  color: whitesmoke;
}

.home-button:hover {
  background: var(--medium-green);
  color: whitesmoke;
}

/* search bar styles */
#search-bar-create {
  display: flex;
  width: 70%;
  margin: 20px auto;
  border-radius: 15px;
  max-width: 840px;
}

#search-bar {
  display: flex;
  width: 75%;
}

#search-bar input {
  width: 100%;
  margin-right: 10px;
  font-size: x-large;
  min-width: 250px
}

#create-button {
  min-width: 275px;
}

/* edit and create form styles */

.other-header {
  display: grid;
  justify-items: center;
  margin: 50px;
}

form {
  background: white;
  padding: 25px;
  max-width: 840px;
  margin: 0 auto;
  border-radius: 6px;
}

form input {
  display: block;
  font-size: 20px;
  width: 100%;
  border: 1px solid lightgray;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 25px;
}

form textarea {
  display: block;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  height: 250px;
  border: 1px solid lightgray;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 25px;
}

.form-button {
  width: 100%;
}

/* delete styles */

.button-container {
  display: flex;
  justify-content: flex-end;
}

.button-container button {
  margin-top: 50px;
  margin-left: 15px;
  width: 150px;
}

.prompt {
  background-color: white;
  padding: 25px;
  position: absolute;
  border: solid;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1.0;
}

.prompt button {
  width: 120px;
  margin-right: 10px;
}

.prompt h5 {
  margin-bottom: 1.25em;
}